@media screen and (max-width:600px){

body,html{
    overflow-y: none;
}

    /* first phase */

    .profileHead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 10px 10px 10px;
    }

    .profileAndName{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .userProfileImage{
        width: 40px;
        height: 50px;
    }

    .intro{
        font-size: 12px;
    }

    .walletBalanceHidden{
        margin-top: -13px;
    }

    
    /* second phase */

    .walletBox{
        border-radius: 10px;
        background-color: #9955BB;
        padding:5px 15px 30px 10px;
        margin: 0px 7px;
        color: white;
    }

    .walletImg{
        width: 8%;
    }

    .wb{
        font-size: 14px;
        padding: 0px 6px;
    }

    .walletB{
        display: flex;
        align-items: center;
    }

    .walletBalance{
        font-size: 18px;
        font-weight: 700;
        padding-left: 7px;
        padding-top: 4px;
    }

    .addMoney{
        font-size: 17px;
        padding: 6px 17px 7px 10px;
    }    



    /* third phase */

    .avail{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 17px;
    }

    .mainServices{
        border-bottom: 1px solid blueviolet;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 0px rgba(153, 85, 187, 0.6117647059);
        padding: 10px 10px;
        margin: 5px 10px;
        flex-wrap: wrap;
        align-items:center;
    }

    .getAirtime{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .getData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    .forPadi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }

    .morre{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        margin: 0px;
        padding: 5px 15px;  
    }

    .optional{
        background-color: #9955BB;
        border: 1px solid white;
        border-radius: 6px;
        height: 45px;
        width: 49px;
        text-align: center;
    }

    .servText{
        font-size: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 300;
        line-height: 15px;
    }

    .optional img{
        width: auto;
        margin-top: 8.5px;
    }


    /* fourth phase */
    .otherServ{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 15px;
    }

    .otherServi{
        padding-top: 10px;
        padding-bottom: 2.5px;
        margin-right: 13px;
        margin-left: 15px;
        font-size: 12px;
    }

    
    .otherServices{
        background: rgba(245, 225, 255, 0.6117647059);
        border-bottom: 1px solid blueviolet;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 0px rgba(153, 85, 187, 0.6117647059);
        padding: 0px;
        margin: 15px 10px;
    }

    .moreServices, #others{
        margin-top: -20px;
        margin-left: -12px;
    }


    /* fifth phase */
    .referral{
        display: flex;
        justify-content: space-between;
        align-items:start;
        background: rgba(245, 225, 255, 0.6117647059);
        border-bottom: 1px solid blueviolet;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 0px rgba(153, 85, 187, 0.6117647059);
        padding: 10px 20px;
        margin: 12px 10px 10px 10px;
    }

    .refertext h3{
        font-size: 15px;
    }

    .refertext p{
        font-size: 12px;
    }

    /* sixth phase */
    .buttons{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 7px 0px 7px;
        padding: 5px 11px 0px 3.5px;
        background-color: white;
        border-top: 1px solid #9955BB;
        position: fixeď;
        z-index: 100;
        width:100%;
        position: fixed;
        bottom:0!important;
        box-shadow: none;
    }

    .bottom p{
        font-size: 12px;
    }

    .bottom:hover{
        transform: none;
    }
}    

     





